<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pers.aiyin.fitness.mapper.CustomStudentMapper">
    <resultMap id="BaseResultMap" type="com.pers.aiyin.fitness.response.CustomStudent">
        <id column="stu_id" jdbcType="INTEGER" property="stuId" />
        <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="height" jdbcType="DOUBLE" property="height" />
        <result column="weight" jdbcType="DOUBLE" property="weight" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="card_id" jdbcType="INTEGER" property="cardId" />
        <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    </resultMap>

    <select id="getStudentList" parameterType="com.pers.aiyin.fitness.response.CustomStudent" resultMap="BaseResultMap">
        select stu_id,stu_name,age,sex,email,phone,height,weight,birthday,student.card_id,card_name
         from student
         left join clubcard on clubcard.card_id=student.card_id
         where 1=1
        <if test="stuName != null and stuName != ''">
           and stu_name = #{stuName,jdbcType=VARCHAR}
        </if>
        <if test="phone != null and phone != ''">
            and  phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="cardName != null and cardName != ''">
            and card_name = #{cardName,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="getStudent" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select stu_id,stu_name,age,sex,email,phone,height,weight,birthday,student.card_id,card_name
         from student
         left join clubcard on clubcard.card_id=student.card_id
         where stu_id = #{stuId,jdbcType=INTEGER}

    </select>

    <select id="stuLogin" parameterType="com.pers.aiyin.fitness.response.CustomStudent" resultMap="BaseResultMap">
        select stu_id,stu_name,password,age,sex,email,phone,height,weight,birthday,password
         from student
         where  (phone=#{stuName} or email=#{stuName}) and password=#{password}
    </select>


</mapper>