<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pers.aiyin.fitness.mapper.CustomCourseRecordMapper">

    <resultMap id="BaseResultMap" type="com.pers.aiyin.fitness.response.CourseRecordList">
        <result column="year_mouth" jdbcType="VARCHAR" property="yearMonth" />
        <collection property="listCourse" javaType="java.util.List" ofType="com.pers.aiyin.fitness.response.CustomCourseRecord">
            <result column="course_id" jdbcType="INTEGER" property="courseId" />
            <result column="stu_id" jdbcType="INTEGER" property="stuId" />
            <result column="course_record_id" jdbcType="INTEGER" property="courseRecordId" />
            <result column="course_name" jdbcType="VARCHAR" property="courseName" />
            <result column="course_time_start" jdbcType="TIMESTAMP" property="courseTimeStart" />
            <result column="course_time_end" jdbcType="TIMESTAMP" property="courseTimeEnd" />
            <result column="room_id" jdbcType="INTEGER" property="roomId" />
            <result column="room_name" jdbcType="VARCHAR" property="roomName" />
            <result column="mouth_date" jdbcType="VARCHAR" property="monthDate" />
            <result column="coach_id" jdbcType="INTEGER" property="coachId" />
            <result column="coach_name" jdbcType="VARCHAR" property="coachName" />
            <result column="time_start_str" jdbcType="VARCHAR" property="timeStartStr" />
            <result column="time_end_str" jdbcType="VARCHAR" property="timeEndStr" />
            <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
            <result column="score" jdbcType="INTEGER" property="score"/>
            <result column="course_type" jdbcType="VARCHAR" property="courseType" />
        </collection>
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.pers.aiyin.fitness.response.CustomCourseR">
            <result column="course_id" jdbcType="INTEGER" property="courseId" />
            <result column="stu_id" jdbcType="INTEGER" property="stuId" />
            <result column="course_record_id" jdbcType="INTEGER" property="courseRecordId" />
            <result column="course_name" jdbcType="VARCHAR" property="courseName" />
            <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
            <result column="time_start_str" jdbcType="VARCHAR" property="timeStartStr" />
            <result column="time_end_str" jdbcType="VARCHAR" property="timeEndStr" />
            <result column="sign_in" jdbcType="TINYINT" property="signIn" />
            <result column="content" jdbcType="VARCHAR" property="content" />
            <result column="score" jdbcType="INTEGER" property="score"/>
            <result column="student_portrait" jdbcType="VARCHAR" property="studentPortrait" />
            <result column="avg_score" jdbcType="DOUBLE" property="avgScore"/>
            <result column="course_time_start" jdbcType="TIMESTAMP" property="courseTimeStart" />
            <result column="course_time_end" jdbcType="TIMESTAMP" property="courseTimeEnd" />
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.pers.aiyin.fitness.response.CustomCourse">
        <id column="course_id" jdbcType="INTEGER" property="courseId" />
        <result column="course_name" jdbcType="VARCHAR" property="courseName" />
        <result column="course_time_start" jdbcType="TIMESTAMP" property="courseTimeStart" />
        <result column="course_time_end" jdbcType="TIMESTAMP" property="courseTimeEnd" />
        <result column="room_id" jdbcType="INTEGER" property="roomId" />
        <result column="room_name" jdbcType="VARCHAR" property="roomName"/>
        <result column="coach_id" jdbcType="INTEGER" property="coachId" />
        <result column="coach_name" jdbcType="VARCHAR" property="coachName"/>
        <result column="course_type" jdbcType="VARCHAR" property="courseType" />
        <result column="course_capacity" jdbcType="INTEGER" property="courseCapacity" />
        <result column="course_surplus" jdbcType="INTEGER" property="courseSurplus" />
        <result column="is_valid" jdbcType="TINYINT" property="isValid" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    </resultMap>

    <select id="getRecordByStuId" parameterType="com.pers.aiyin.fitness.response.CourseRecordOption" resultMap="BaseResultMap">
        select c.course_id,course_record_id,course_name,course_time_start,course_time_end,c.room_id,cr.room_name,stu_id,c.coach_id,score,
        comment_time,course_type,
            coach_name,DATE_FORMAT(course_time_start,'%Y-%m') as year_mouth,
            DATE_FORMAT(course_time_start,'%m-%d') as mouth_date,
               DATE_FORMAT(course_time_start,'%H:%i') as time_start_str,
              DATE_FORMAT(course_time_end,'%H:%i') as time_end_str
            FROM course c left join courserecord ON  c.course_id=courserecord.course_id
             left join classroom cr on cr.room_id=c.room_id
        left join coach on c.coach_id=coach.coach_id
            where  courserecord.stu_id= #{stuId}
        <if test="dateRange != null">
            AND course_time_start <![CDATA[>=]]> #{dateRange}
        </if>
        <if test="dateRangeEnd != null">
            AND course_time_start <![CDATA[<=]]>#{dateRangeEnd}
        </if>
        group by year_mouth,c.course_id,course_name,course_time_start,course_time_end,c.room_id,room_name,c.coach_id,coach_name,
        course_type,course_capacity,course_surplus,course_record_id,score,comment_time
        order by course_time_start DESC
    </select>
    <select id="getRecordByCoachId" parameterType="com.pers.aiyin.fitness.response.CourseRecordOption" resultMap="BaseResultMap">
        select c.course_id,course_name,
        course_time_start,course_time_end,c.room_id,cr.room_name,c.coach_id,coach.coach_name,
        DATE_FORMAT(course_time_start,'%Y-%m') as year_mouth,
        DATE_FORMAT(course_time_start,'%m-%d') as mouth_date,
        DATE_FORMAT(course_time_start,'%H:%i') as time_start_str,
        DATE_FORMAT(course_time_end,'%H:%i') as time_end_str
        from  course c
        left join classroom cr on cr.room_id=c.room_id
        left join coach on c.coach_id=coach.coach_id
        where c.coach_id= #{coachId}
        <if test="dateRange != null">
            AND course_time_start <![CDATA[>=]]> #{dateRange}
        </if>
        <if test="dateRangeEnd != null">
            AND course_time_start <![CDATA[<=]]>#{dateRangeEnd}
        </if>
        group by year_mouth,c.course_id,course_name,
        course_time_start,course_time_end,c.room_id,cr.room_name,c.coach_id,coach.coach_name
        order by course_time_start DESC
    </select>
    <select id="getSelectStudent" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
        select sr.stu_id,s.stu_name,sr.course_id,course_record_id,sign_in,course_time_start,course_time_end
        from courserecord sr
        left join student s on sr.stu_id=s.stu_id
        left join course c on c.course_id=sr.course_id
         where sr.course_id=#{courseId}

    </select>
    <select id="getCourseList" parameterType="com.pers.aiyin.fitness.response.CustomCourse" resultMap="BaseResultMap2">
        select course_id,course_name,course_time_start,course_time_end,c.room_id,room_name,c.coach_id,coach_name,
        course_type,course_capacity,course_surplus from course c
        left join classroom cr on cr.room_id=c.room_id
        left join coach on c.coach_id=coach.coach_id
        where c.is_delete=0
        <if test="coachName!=null and coachName!= ''">
            AND  coach_name like  CONCAT('%',#{coachName},'%')
        </if>
        <if test="courseName!=null and courseName!= ''">
            AND  course_name like CONCAT('%',#{courseName},'%')
        </if>
        <if test="roomName!=null and roomName!= ''">
            AND  room_name like CONCAT('%',#{roomName},'%')
        </if>
        <if test="courseTimeStart != null">
            AND course_time_start <![CDATA[=]]> #{courseTimeStart}
        </if>
    </select>
    <select id="getContentByCoach" parameterType="com.pers.aiyin.fitness.response.CustomCourse" resultMap="BaseResultMap1">
        select course_name, avg(score) as avg_score from course c
        left join courserecord cr on c.course_id=cr.course_id
        where c.coach_id=#{coachId} and cr.course_id is not null
        <if test="courseTimeStart != null">
        AND c.course_time_end <![CDATA[<]]> #{courseTimeStart}
        </if>
        group by course_name,cr.course_id

    </select>

    <select id="getDetailContent" parameterType="com.pers.aiyin.fitness.response.CustomCourse" resultMap="BaseResultMap1">
        select course_name,score,content,c.course_id,s.stu_id,s.stu_name,student_portrait,
        DATE_FORMAT(comment_time,'%Y-%m-%d %H:%i') as time_end_str
        from course c
        left join courserecord cr on c.course_id=cr.course_id
        left join student s on s.stu_id=cr.stu_id
        where c.course_id=#{courseId} and cr.course_id is not null
        and cr.comment_time is not null
        <if test="courseTimeStart != null">
            AND c.course_time_end <![CDATA[<]]> #{courseTimeStart}
        </if>
    </select>

</mapper>