<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pers.aiyin.fitness.mapper.CustomCoachMapper">
    <resultMap id="BaseResultMap" type="com.pers.aiyin.fitness.response.CustomStudent">
        <id column="stu_id" jdbcType="INTEGER" property="stuId" />
        <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="height" jdbcType="DOUBLE" property="height" />
        <result column="weight" jdbcType="DOUBLE" property="weight" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="card_id" jdbcType="INTEGER" property="cardId" />
        <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    </resultMap>
    <select id="StuListByCoachId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select student.stu_id,sex,phone,email
        from student left join coursehour on student.stu_id=coursehour.stu_id
        where coursehour.coach_id=#{coachId}
    </select>
</mapper>