<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pers.aiyin.fitness.mapper.WeightRecordMapper">
  <resultMap id="BaseResultMap" type="com.pers.aiyin.fitness.entity.WeightRecord">
    <id column="wei_record_id" jdbcType="INTEGER" property="weiRecordId" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    wei_record_id, weight, record_time, is_valid, stu_id
  </sql>
  <select id="selectByExample" parameterType="com.pers.aiyin.fitness.entity.WeightRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from weightrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from weightrecord
    where wei_record_id = #{weiRecordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from weightrecord
    where wei_record_id = #{weiRecordId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pers.aiyin.fitness.entity.WeightRecordExample">
    delete from weightrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pers.aiyin.fitness.entity.WeightRecord">
    insert into weightrecord (wei_record_id, weight, record_time, 
      is_valid, stu_id)
    values (#{weiRecordId,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE}, #{recordTime,jdbcType=TIMESTAMP}, 
      #{isValid,jdbcType=TINYINT}, #{stuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pers.aiyin.fitness.entity.WeightRecord">
    insert into weightrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="weiRecordId != null">
        wei_record_id,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="weiRecordId != null">
        #{weiRecordId,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pers.aiyin.fitness.entity.WeightRecordExample" resultType="java.lang.Long">
    select count(*) from weightrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update weightrecord
    <set>
      <if test="record.weiRecordId != null">
        wei_record_id = #{record.weiRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DOUBLE},
      </if>
      <if test="record.recordTime != null">
        record_time = #{record.recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isValid != null">
        is_valid = #{record.isValid,jdbcType=TINYINT},
      </if>
      <if test="record.stuId != null">
        stu_id = #{record.stuId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update weightrecord
    set wei_record_id = #{record.weiRecordId,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=DOUBLE},
      record_time = #{record.recordTime,jdbcType=TIMESTAMP},
      is_valid = #{record.isValid,jdbcType=TINYINT},
      stu_id = #{record.stuId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pers.aiyin.fitness.entity.WeightRecord">
    update weightrecord
    <set>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="recordTime != null">
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
    </set>
    where wei_record_id = #{weiRecordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pers.aiyin.fitness.entity.WeightRecord">
    update weightrecord
    set weight = #{weight,jdbcType=DOUBLE},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=TINYINT},
      stu_id = #{stuId,jdbcType=INTEGER}
    where wei_record_id = #{weiRecordId,jdbcType=INTEGER}
  </update>
</mapper>